<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Restaurants</ion-title>

    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="onAddRestaurant()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <app-restaurant-element *ngFor="let restaurant of restaurants" [restaurant] = "restaurant" ></app-restaurant-element>
  </ion-list>

</ion-content>
